/**********HEADER**********/
/*****ETIQUETA*****/
/*****CLASS*****/
/*****ID*****/

/**********BODY**********/
/*****ETIQUETA*****/
body {
    background-image: url("../img/fondo1.png");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

a {
    color: white;
}

a:hover {
    color:yellow;
}

a:visited {
    color:rgb(110, 41, 1);
}

/*****CLASS*****/
.boton {
    height: 60px;
    width: 60px;
}

.txtBoton {
    color: rgb(2, 2, 2);
    background-color: rgba(255, 166, 0, 0.445);
    height: 2em;
    width: 11em;
    font-size: 0.9em;
    padding: 1%;
    margin: 0.3%;
    margin-left: 0%;
}

.imgBoton {
    border: 1px solid white;
    border-radius: 10%;
    margin-left: 0.5%;
    padding: 0.7% 1% 0% 1%;
}

.barra{
    background-color: black;
    width: 15.25em;
    height: 2em;
}

/*****ID*****/
#main {
    border: 2px solid;
    margin: 0% 3% 0% 4%;
    padding: 0%;
}

#divBotones {
    width: 30%;
    padding: 10% 0% 10% 0%;
}

#espacioBarras {
    padding: 150%;
    background-color: transparent;
}

#imgMantenimiento {
    width: 50em;
    padding: 35% 0%;
}

#imgLogo {
    width: 80%;
    height: 25%;
}

#logo {
    width: 20%;
    padding-top: 3%;
    padding-left: 10%;

}



/**********FOOTER**********/
/*****ETIQUETA*****/
/*****CLASS*****/
/*****ID*****/

/**********FLEX**********/
.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_item_center {
    display: flex;
    align-items: center;
}

.flex_justify_center { 
    display: flex;
    justify-content: center;
}